body{
    margin:0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position:fixed;
    top:0;
    height: fit-content;
    background-color: azure;
    border: solid black 1px;
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: none;
}

a{
    background-color:blanchedalmond;
    border: solid black 1px;
    border-radius: .5rem;
    width: 10vw;
    height: 50%;
    text-align: center;
    text-decoration: none;


}