body{
    margin:0;
    background-color:white;
    color:#311D3F;
    font-family: 'Nunito', sans-serif;
}
#nav-brand{
    text-transform: none;
    font-weight: 100;
    font-size: 4rem;
    transition: color 100ms ease-in-out;
}



