html,body{
    margin:0;
    height: 100%;
    font-size: 1.4rem;
}

main{
    background-color: #FAF9F6;
    height: 100%;
}

#panel{
    text-align: center;
    align-items: center;
    background-color: #0275d8;
    padding: 6rem 8rem;
    border-radius: 1rem;
}